<% provide(:title, 'Registrations') %>

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Registrations</h3>
  			</div>
  			<div class="panel-body">
    			<p><%= number_with_delimiter(@signups_count) %> people have registered. </p>
  			</div>
		</div>
	</div>
	<div class="col-md-3">
	</div>
</div>