<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns"http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
	<head>
	    <meta http-equiv="content-type" content="text/html" charset="utf-8">
	</head>
	<body>
		<h1>Thanks for signing up for Hiker Meals!</h1>

		<p>If you're receiving this email that means that you're one of our earliest supporters, and you're therefore one of our favorite people.  We've just implemented a referral rewards system on our site, so now you can use the unique referral code below to share the Hiker Meals love with your friends!</p>  

		<p>As a thanks for being an early adopter, we'll also give you 50% off your first purchase!  We'll send you a discount code when we launch for reals.</p>  

		<p>This is your referral code.  Cherish it: http://www.hikermeals.com?ref=<%= @signup.referral_code %></p>
		<p>If your friends use this link to sign up, you'll get credit!  Go on, just <a href="http://twitter.com/share?url=http://www.hikermeals.com?ref=<%= CGI::escape(@signup.referral_code) %>&text=<%= CGI::escape(@twitter_message) %>" target="_blank">Tweet it</a></p>

		<ul>Reward Tiers: <br />
			<li>Refer 5 friends and get 25% off your first purchase</li>
			<li>Refer 10 friends and get 50% off your first purchase</li>
			<li>Refer 15 friends and get 75% off your first purchase</li>
			<li>Refer 500 friends and I will personally buy you dinner at a restaurant of your choosing.</li>
		</ul>  

		<p>Happy Trails!</p>

		<p>Daniel, Will, and the rest of the Beards</p>
		<p><small><a href="http://www.hikermeals.com/legal">Legal Stuff</a></small></p>


	</body>
</html>