<% provide(:title, 'About') %>

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<h1>About Page</h1>

		<p>We love to hike, but hate planning out and purchasing the food we need for a multi-day hike.  How much should we bring?  How much will it weigh?  Can we do anything to make the food less boring?</p>
		<p>Hiker Meals is about making trip planning a little less painful.  Just answer a few questions and we'll be shipping delicious, packable trail food to your door before you leave for your trip.  Our packages will include meals with enough nutrition to get you through the day and enough variety to keep you looking forward to dinner.</p>
		
	</div>
	<div class="col-md-3">
	</div>
</div>

<%= render 'layouts/analytics' %>
