<div class="row">
	<div class="col-md-7">
		<div class="jumbotron">
			<h1>Hiker Meals</h1>
			<h3>Taking the stress out of planning food for your hike.</h3>
		</div>
	</div>
	<div class="col-md-5">


			<h3>Sign up form.</h3>
			<!-- Begin MailChimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup" class="center">
			<form action="//hikermeals.us8.list-manage.com/subscribe/post?u=2772af703ff4689cd769bf1f3&amp;id=fd2517bb8a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Sign up!</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2772af703ff4689cd769bf1f3_fd2517bb8a" tabindex="-1" value=""></div>
			    <div class="clear" style="overflow: hidden; padding-right: .5em;"><input type="submit" value="Feed me!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</form>
			</div>

			<!--End mc_embed_signup-->

	</div>
</div>
<hr />
<div class="row">
	<h1>How it works</h1>
</div>


<div class="row">
	<div class="col-md-4 center">
		<div class="caption">
			<h3>Pick your meal</h3>
			<p>Choose from our variety of hiker meals that combine taste and nutrition with packability.  Just tell us how many days you'll spend on the trail and we'll take care of the rest.</p>
		</div>
	</div>
	<div class="col-md-4 left-border center">
		<div class="caption">
			<h3>Ship</h3>
			<p>We will package your trip's meals in a lightweight reusable stuff sack.  Don't worry, the spork's included.  Then we'll ship it to your doorstep before your next adventure.</p>
		</div>
	</div>
	<div class="col-md-4 left-border center">
		<div class="caption">
			<h3>Hike</h3>
			<p>Pack your Hiker Meals stuff sack and hit the trail!  We provide consumables, not disposables, so you'll be able to minimize your footprint.</p>
		</div>
	</div>
</div>
<div class="row">
</div>
